

<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1>Disfruta Leyendo</h1>
                <h3>Foro</h3>
            </div>
        </div>
    </div>
    <div class="seccionForo" style="margin-left: 500px;">
        <h2 style="margin-top: 20px;">Comenta tus opiniones</h2>

        <form [formGroup] = "form" formControlName= "textAreaComment" >
        <div class="form-group">
        <textarea style="margin-top: 20px;  width: 40%;" ></textarea>
        <br>
        <br>
        <button>Comenta</button>
        </div>
        </form>
    </div>

</div>
