<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/soccer-bg2.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1>Disfruta Leyendo</h1>
                <h3>El mejor lugar para leer</h3>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
          <form> 
            <h2 class="title">¿Tienes alguna duda?</h2>
            <p class="description">Déjanos un mensaje y te contestaremos lo más pronto posible</p>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Nombre: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" value="" placeholder="Nombre" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Género: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <select name="Genero" id="" class="form-control">
                    <option value=""></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Fec.nac.: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="date" value="" placeholder="Fecha de nacimiento" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Celular: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="tel" value="" placeholder="Celular" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Correo: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" value="" placeholder="Correo" class="form-control"/>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-1 align-text">
                <h6>Detalles: </h6>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <textarea class="form-control area-borders" rows="4" cols="80" placeholder="Escribe el mensaje..."></textarea>
                </div>
              </div>
            </div>
            <input type="submit" class="btn btn-primary btn-enviar" value="Enviar">
          </form> 
        </div>
    </div>
    

    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" [routerLink]="['/inicio']">Disfuta Leyendo</a>
      </div>
  </footer>
</div>
