<div class="wrapper">
    <div class="page-header clear-filter" >
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/libro7.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <h1>Disfruta Leyendo</h1>
                <h3>El mejor lugar para leer</h3>
                <div class="row justify-content-center search-container">
                    <div class="col-md-1 col-2 btn-container">
                        <button class="btn"><i class="bi bi-search fa-2x"></i></button>
                    </div>
                    <div class="col-md-11 col-10">
                        <input id="search-bar" type="text" placeholder="¿Que tipo de libro deseas leer hoy?">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-dark" [routerLink]="['/inicio']">Disfruta Leyendo</a>
        </div>
    </footer>
</div>
