<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="500">
  <div class="container">
    <!--<div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
            <span class="button-bar"></span>
            <span class="button-bar"></span>
            <span class="button-bar"></span>
        </a>
         <div ngbDropdownMenu>
           <a class="dropdown-header">Menu</a>
           <a class="dropdown-item" [routerLink]="['equipo']">Equipo de Trabajo</a>
           <a class="dropdown-item" [routerLink]="['contacto']">Contactenos</a>
           <a class="dropdown-item" [routerLink]="['noticias']">Noticias</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" [routerLink]="['inicio']">Inicio</a>
         </div>

       </div>
    </div>
      <div class="navbar-translate d-flex justify-content-around" style="width: 1140px;">
          <a class="navbar-brand" [routerLink]="['/index']" placement="bottom">
              Inicio
          </a>
          <a class="navbar-brand" [routerLink]="['noticias']" placement="bottom">
              Noticias
          </a>
          <a class="navbar-brand" [routerLink]="['contacto']" placement="bottom">
              Contactenos
          </a>
          <a class="navbar-brand" [routerLink]="['equipo']" placement="bottom">
              Equipo de Trabajo
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
  </div>-->

      <div class="navbar-translate">
          <a class="navbar-brand" [routerLink]="['/inicio']" placement="bottom" ngbTooltip="Inicio">
              Disfruta Leyendo
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse container" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
          <ul class="navbar-nav ml-auto d-flex justify-content-around" style="width: 1140px;">
          <li class="nav-item" id="nav1">
              <a class="nav-link" [routerLink]="['/inicio']">
                  <p>Inicio</p>
              </a>
          </li>
              <li class="nav-item" id="nav2">
                  <a class="nav-link" [routerLink]="['catalogo']">
                  <p>Catálogo</p>
                  </a>
              </li>
              <li class="nav-item" id="nav3">
                  <a class="nav-link" [routerLink]="['foro']">
                      <p>Foro</p>
                  </a>
              </li>
              <li class="nav-item" id="nav5">
              <a class="nav-link" [routerLink]="['obra']">
                  <p>Comunidad</p>
              </a>
              </li>
              <li class="nav-item" id="nav4">
                <a class="nav-link" [routerLink]="['contacto']">
                    <p>Contactenos</p>
                </a>
                </li>
              <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                  <i class="fab fa-facebook-square"></i>
                  <p class="d-lg-none d-xl-none">Facebook</p>
              </a>
              </li>
              <li class="nav-item">
              <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                  <i class="fab fa-instagram"></i>
                  <p class="d-lg-none d-xl-none">Instagram</p>
              </a>
              </li>
          </ul>
      </div>
  </div>

</nav>
